[submodule "src/EntropyBasedMetrics"]
	path = src/EntropyBasedMetrics
	url = git@github.com:jbpt/codebase.git
[submodule "src/SplitMiner"]
	path = src/SplitMiner
	url = git@github.com:iharsuvorau/split-miner.git
